@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face{
  src: url('./lib/Sugar Cream.otf');
  font-family: 'Font1';
}
@font-face{
  src: url('./lib/Louis George Cafe.ttf');
  font-family: 'Font2';
}
@font-face{
  src: url('./lib/Louis George Cafe Light.ttf');
  font-family: 'Font3';
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  background-color: #0B0B0B;
  opacity: 1;
  background: rgb(4,4,4);
  background: linear-gradient(180deg, rgba(4,4,4,1) 0%, rgba(4,4,4,1) 60%, rgba(1,25,37,1) 87%, rgba(6,25,34,1) 100%);
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
